# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

ENV=dev
NODE_ENV=development
HOST=localhost
PORT=3000

# postgresql config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=seryu
DB_USER=raha
DB_PASSWORD=
